@charset "UTF-8";

section#conteudo{
	width: 1000px;
	height: 400px;
	margin: auto;
}
iframe#frame-trilha{
	width: 500px;
	height: 380px;
	border: none;
	position: absolute;
	right: 200px;
}

